h1 {
    color: black;
    text-align: center;
    flex: strong;
} 
div1{  
    background-image: url(AlgemeineInfos_hintergrund.PNG);
    background-size: 100% 100%;
    height: 800px;
    display: flex;
    flex-direction:column;
    background-repeat: no-repeat;
    background-color: black;
}